@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@200;300;400&display=swap');

$heading-font-family:  'Playfair Display', serif;
$body-font-family: 'Raleway', sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;